body {
    text-align: center;
    background-color: cornflowerblue;
}
h1 {
  font-size: 40px;
}
.delete {
  margin-left: 20px;
  color: red;
  cursor: pointer;
  text-align: right;
}
input {
  width: 400px;
  height: 50px;
  font-size: 25px;
  background-color: antiquewhite;
}
textarea {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.card {
 margin-top: 15px;
 width: 85%;
}
p.card-text {
  font-size: 24px;
}
#scrape{
  color: white;
}
